body 
{ padding-top: 70px; }
header{
	display: block;
}
div{
	
}

#carousel-example-generic
{
	z-index: 0;
}

.navbar-brand

{
    margin-top:-10px;
    left:350px;
}


.carousel-inner,.item{
	height: 550px;
	background-color: #000;
	z-index: -1;

}
.carousel{
	
}
#navsearch
{
	float: left;
	padding-left: 150px;
}
.thumbnail{
	height: 410px;
	width: 300px;
/*	float: top;*/
	display: block;
	border:3px solid red;
}
.col-md-4,.row,.container{

}

.thumbnail .img-circle{
	height: 250px;
	width:  250px;
}

/*排行榜*/	
.clearfix{
	float: left;
	zoom:1;
	margin: 10px;

}
.f1{
	width:300px; 
	
}
.module{


font-size: 16px;
padding: 10px 0;
width: 160px;
}

#rankarticlle a{

}
